In [ ]:
print("Hello")

In [ ]:
x = 5
print(x * 2)

In [ ]:
for i in range(3):
    print(i)